---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button"
import Header from '@/components/Header';
---

<Layout title="TUX DOS HAT and CODE">
	
  <Header client:only='react'/>
  <main class="max-w-screen-md mx-auto px-4">
    <div>
      <h1 class="text-center text-2xl">TUX SERVER</h1>
      <h2 class="text">discord server</h2>
    </div>
    <div>
      <h1>QUEM SOMOS NÓS</h1>
      <p>A Tux Server é uma comunidade apaixonada por Linux, programação e hacking. O nome da comunidade é uma homenagem ao Tux, o pinguim carismático que é o mascote do sistema operacional Linux. Nós gostamos de Linux não apenas por sua robustez e flexibilidade, mas também por sua filosofia de código aberto e colaboração.

        Nosso foco principal está em programação e hacking ético, buscando expandir nossos conhecimentos e habilidades nesses campos. Assim como o Tux, símbolo de liberdade e autonomia, buscamos promover um ambiente de aprendizado colaborativo e inclusivo. Na Tux Server, adotamos práticas como peer-mentoring, onde os membros mais experientes auxiliam os iniciantes, e project-based learning, onde aprendemos colocando a mão na massa em projetos reais.</p>
    </div>
  </main>
</Layout>

<style></style>

// https://discord.gg/pqZ64SGaVG